P, h1, h2, h3 {
    color: #3B3131;
    width: 500px;
}

video {
    width: 500px;
}

img {
    width: 500px;
}

img.small {
    width: 300px;
}

hr {
    width: 500px;
}

body {
        margin: 10px;
        background-color: #dadadc;
}

hr {
    text-align: center;
}
